@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');

body {
    background-image: url("weather.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    height: 100vh;
    color: white;
    font-family: "Kdam Thmor Pro", sans-serif;
}

@font-face {
  font-family: "Kdam Thmor Pro";
  src: url("KdamThmorPro-Regular.otf") format("opentype");
}

header {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: 30px 30px;
}

.inp-border{
	padding: 5px;
	margin: 2vh 1vh;
	border-radius: 67px;
  max-width:200px;
  
}
input{
	font-size: 17px;
}

.input{
  text-align:center;
	padding: 15px;
	outline: none;
	border:double 0;
	background: #252525;
	border-radius: 67px;
	position: relative;
	box-sizing: border-box;
	display: block;
  width: 100%;
}
.a1{
  background: linear-gradient(330.28deg,#FF6E1D  100%,#FF6E1D  100%,#FF6E1D  100%);
  
}
.a1 >input{
  color: #FF6E1D;
}
.a1 >input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #FF6E1D;
  opacity: 0.6; /* Firefox */
}
.a2{
   background: linear-gradient(330.28deg,#2CFFF2  100%,#2CFFF2  100%,#2CFFF2  100%);
}
.a2 >input{
  color: #2CFFF2;
}
.a2 >input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #2CFFF2;
  opacity: 0.6; /* Firefox */
}
.a3{
  background: linear-gradient(330.28deg,#FF54A6  100%,#FF54A6  100%,#FF54A6  100%);
}
.a3 >input{
  color: #FF54A6;
}
.a3 >input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #FF54A6;
  opacity: 0.6; /* Firefox */
}
.a4{
  	background: linear-gradient(330.28deg,#FF3E3E  100%,#FF3E3E  100%,#FF3E3E  100%);
}
.a4 > input{
 color:#FF3E3E;
}
.a4 >input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #FF3E3E;
  opacity: 0.6; /* Firefox */
}
.inp-border:focus-within{

		background: linear-gradient(330.28deg,#2CFFF2       0%, #1E78FF  30.73%, #FF54A6  55.73%, #FF6E1D       79.17%, #FF3E3E  100%);
}
.inp-border:hover{
		background: linear-gradient(330.28deg,#2CFFF2       0%, #1E78FF  30.73%, #FF54A6  55.73%, #FF6E1D       79.17%, #FF3E3E  100%);
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-left: 150px;
  margin-top: 50px;
}

#info-box {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 10px;
  padding-top: 10px;
}

#general-weather {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 20px;
}

#weather-description {
  padding-top: 22px;
}

#city {
  font-size: 30px;
}

#temperature {
  font-size: 80px;
}

#details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 18px;
  border-left: 2px solid white;
  padding-left: 15px;
}

